:root {
  --mobile-header-height: 50px;
}

body {
  margin: 0;
}
/* 
------------------------------------------------------------------------
Header
------------------------------------------------------------------------
*/

.header {
  position: fixed;
  z-index: 20;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
  box-sizing: border-box;
  pointer-events: none;
  top: 0;
}
.header > a:has(> img) {
  transform: translate(0, 20%);
  pointer-events: auto;
  max-width: 50vw;
}
.header a {
  color: black;
  text-decoration: none;
}
.header a > img {
  width: 100%;
}
.header > nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  pointer-events: auto;
}
.mobile-menu-toggle {
  display: none;
}
.mobile-menu {
  display: none;
}

/*
------------------------------------------------------------------------
routes/_index
------------------------------------------------------------------------
*/

.carousel-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}
.carousel-track {
  display: flex;
  height: 100%;
  will-change: transform;
}
.carousel-slide {
  width: 100vw;
  height: 100vh;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.carousel-button {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 0;
}
.carousel-button.left {
  right: 50%;
}
.carousel-button.right {
  left: 50%;
}
.carousel-button > svg {
  display: none;
}
.cursor-label {
  position: fixed;
  pointer-events: none;
  z-index: 2;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transform: translate(-50%, 150%);
  mix-blend-mode: exclusion; /* optional for better visibility */
  transition: transform 0.05s ease;
}

.homepage-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.45);
  padding: 4rem 5rem;
  z-index: 10;
  width: 80vw;
  max-width: 497px;
  box-sizing: border-box;
  text-align: center;
}
.homepage-popup > button {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.homepage-popup > p {
  font-size: 13px;
}
.homepage-popup strong {
  font-size: 15px;
}
.homepage-popup a,
.homepage-popup a > strong {
  font-size: 12px;
  color: black;
  text-underline-offset: 5px;
}

/*
------------------------------------------------------------------------
routes/pages
------------------------------------------------------------------------
*/
.pages-container {
  display: flex;
}
.pages-container > div {
  width: 50vw;
  height: 100vh;
}
.pages-hero-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pages-content-container {
  display: flex;
  padding-inline: 10vw;
  box-sizing: border-box;
  gap: 24px;
}
.pages-content-container > nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}
.pages-content-container > nav > a {
  color: black;
  text-decoration: none;
  transition: opacity 300ms 300ms ease-in-out;
}
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.page-content-portable-text-container {
  max-height: 80vh;
  overflow: auto;
  scrollbar-width: none;
}
.page-content-portable-text-container::-webkit-scrollbar {
  display: none;
}
.mobile-expandable-menu {
  display: none;
}
.listen-link {
  width: fit-content;
  display: flex;
  gap: 0.5rem;
  color: black;
  text-decoration: none;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background: rgba(255, 244, 206, 1);
  box-sizing: border-box;
}

/*
------------------------------------------------------------------------
routes/even-better
------------------------------------------------------------------------
*/

.even-better-content-container {
  max-width: 380px;
  margin-inline: auto;
  padding: 25vh 1rem 0;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: none;
}
.even-better-content-container::-webkit-scrollbar {
  display: none;
}
.even-better-content-container > img {
  width: 100%;
}
.even-better-content-container > p {
  font-size: 15px;
}
.even-better-content-container a,
.even-better-content-container a > strong {
  font-size: 12px;
  color: black;
  text-underline-offset: 5px;
}
.even-better-links-container:hover > .even-better-link {
  opacity: 0.45;
}
.even-better-link {
  font-size: 17px !important;
  text-decoration: none !important;
  display: flex;
  align-items: flex-start;
  gap: 2px;
  margin-block: 1rem;
  transition: opacity 300ms ease-in-out;
}
.even-better-link:hover {
  opacity: 1 !important;
}
.even-better-link > span {
  font-size: 9px;
}

/*
------------------------------------------------------------------------
media queries
------------------------------------------------------------------------
*/

@media (max-width: 500px) {
  body > main {
    margin-top: var(--mobile-header-height);
  }
  .header {
    pointer-events: auto;
    background: white;
    height: var(--mobile-header-height);
  }
  .header > nav {
    display: none;
  }
  .mobile-menu-toggle {
    display: block;
    background: transparent;
    border: none;
    padding: 0;
  }
  .mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: var(--mobile-header-height);
    height: calc(100vh - var(--mobile-header-height));
    width: 100vw;
    left: 0;
    right: 0;
    background: white;
    z-index: -1;
  }
  .mobile-menu > div > nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .mobile-menu a {
    color: black;
    text-decoration: none;
  }
  .mobile-menu-ig-link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .carousel-container {
    height: calc(100vh - var(--mobile-header-height));
  }
  .carousel-button {
    bottom: 0.5rem;
    top: auto;
    padding: 0.5rem;
  }
  .carousel-button.left {
    left: 0.5rem;
    right: auto;
  }
  .carousel-button.right {
    left: auto;
    right: 0.5rem;
  }
  .carousel-button > svg {
    display: block;
  }
  .homepage-popup {
    transform: translate(-50%, calc(-50% + var(--mobile-header-height)));
    padding: 2rem 2.5rem;
  }
  .cursor-label {
    display: none;
  }

  .pages-container {
    flex-direction: column;
  }
  .pages-container > div {
    width: 100vw;
    height: fit-content;
  }
  .pages-content-container {
    padding-inline: 1rem;
    display: block;
  }
  .pages-content-container > nav,
  .pages-outlet {
    display: none;
  }
  .mobile-expandable-menu {
    display: block;
    width: 100%;
  }
  .menu-section {
    width: 100%;
    border-bottom: 1px solid black;
    padding-block: 1rem;
    overflow: hidden;
  }
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: transparent;
    width: 100%;
    padding: 0;
    cursor: pointer;
  }
  .section-header > svg > line {
    transition: opacity 300ms ease-in-out;
  }
  .expanded > svg > line:first-of-type {
    opacity: 0;
  }
  .listen-link {
    margin: 1rem auto;
    position: static;
  }

  .even-better-hero-container {
    height: 60vh !important;
  }
  .even-better-content-container {
    padding: 1rem;
  }
}
